node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# macOS
.DS_Store
# Windows
Thumbs.db
# IDE
.idea/
.vscode/
# Android build
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/build/
frontend/android/local.properties

# Supabase Local Runtime
supabase/.temp/
supabase/.branches/
